<div id="<%= dom_id rubro %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Identificacion del rubro:</strong>
    <%= rubro.identificacion_del_rubro %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identificacion rubro interno:</strong>
    <%= rubro.identificacion_rubro_interno %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Observacion:</strong>
    <%= rubro.observacion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo dependencia:</strong>
    <%= rubro.codigo_dependencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombres del rubro:</strong>
    <%= rubro.nombres_del_rubro %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this rubro", rubro, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this rubro', edit_rubro_path(rubro), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
