<div id="<%= dom_id dependencium %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Codigo dependencia:</strong>
    <%= dependencium.codigo_dependencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre dependencia:</strong>
    <%= dependencium.nombre_dependencia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identificacio rubro:</strong>
    <%= dependencium.identificacio_rubro %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identificacion rubro interno:</strong>
    <%= dependencium.identificacion_rubro_interno %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this dependencium", dependencium, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this dependencium', edit_dependencium_path(dependencium), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
