<%= form_with(model: movement_item, class: "contents") do |form| %>
  <% if movement_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(movement_item.errors.count, "error") %> prohibited this movement_item from being saved:</h2>

      <ul>
        <% movement_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :identificacion_rubro %>
    <%= form.text_field :identificacion_rubro, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :identificacion_rubro_interno %>
    <%= form.text_field :identificacion_rubro_interno, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :presupuesto_inicial %>
    <%= form.text_field :presupuesto_inicial, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :codigo_dependencia %>
    <%= form.number_field :codigo_dependencia, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :valor_movimiento %>
    <%= form.text_field :valor_movimiento, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :tipo_movimiento %>
    <%= form.text_field :tipo_movimiento, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :codigo_resolucion %>
    <%= form.text_field :codigo_resolucion, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :fecha_resolucion %>
    <%= form.date_field :fecha_resolucion, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :observacion_resolucion %>
    <%= form.text_area :observacion_resolucion, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "enviar", class: "rounded-lg py-3 px-5 bg-blue-600 text-naranja inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
