<div id="<%= dom_id movimiento_rp %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Identificacion rubro:</strong>
    <%= movimiento_rp.identificacion_rubro %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identificacion rubro interno:</strong>
    <%= movimiento_rp.identificacion_rubro_interno %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero rp:</strong>
    <%= movimiento_rp.numero_rp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Concepto movimiento cdp:</strong>
    <%= movimiento_rp.concepto_movimiento_cdp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Valor movimento rp:</strong>
    <%= movimiento_rp.valor_movimento_rp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Saldo rp:</strong>
    <%= movimiento_rp.saldo_rp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha del movimiento rp:</strong>
    <%= movimiento_rp.fecha_del_movimiento_rp %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this movimiento rp", movimiento_rp, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this movimiento rp', edit_movimiento_rp_path(movimiento_rp), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
